<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout tkDrawerContent rows="auto, *">
    <FlexboxLayout row="0" class="drawerHeader" orientation="horizontal">
      <!-- <Image class="nt-drawer__header-image fas t-36" src="font://&#xf2bd;"></Image> -->
      <FlexboxLayout class="avatarCradle">
        <Label text="UN" class="avatarInitials"></Label>
      </FlexboxLayout>
      <Label class="initialsText" text="User Name"></Label>
    </FlexboxLayout>

    <ScrollView row="1">
      <StackLayout>
        <GridLayout
          columns="auto, *"
          class="drawerListItem"
          [class.drawerListItemSelected]="isComponentSelected('/home')"
          (tap)="onNavItemTap('/home')"
        >
          <Label
            col="0" text="&#xf015;"
            class="iconUnselected fas"
            [class.iconSelected]="isComponentSelected('/home')"
          ></Label>
          <Label
            col="1" text="Home/List"
            class="menuItemText"
            [class.menuItemTextSelected]="isComponentSelected('/home')"
          ></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="drawerListItem"
          [class.drawerListItemSelected]="isComponentSelected('/browse')"
          (tap)="onNavItemTap('/browse')"
        >
          <Label
            col="0" text="&#xf005;"
            class="iconUnselected far"
            [class.iconSelected]="isComponentSelected('/browse')"
          ></Label>
          <Label
            col="1" text="Favourite"
            class="menuItemText"
            [class.menuItemTextSelected]="isComponentSelected('/browse')"
          ></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="drawerListItem"
          [class.drawerListItemSelected]="isComponentSelected('/settings')"
          (tap)="onNavItemTap('/settings')"
        >
          <Label
            col="0" text="&#xf013;"
            class="iconUnselected fas"
            [class.iconSelected]="isComponentSelected('/settings')"
          ></Label>
          <Label
            col="1" text="Settings"
            class="menuItemText"
            [class.menuItemTextSelected]="isComponentSelected('/settings')"
          ></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="drawerListItem"
          [class.drawerListItemSelected]="isComponentSelected('/search')"
          (tap)="onNavItemTap('/search')"
        >
          <Label
            col="0" text="&#xf002;"
            class="iconUnselected fas"
            [class.iconSelected]="isComponentSelected('/search')"
          ></Label>
          <Label
            col="1" text="Log out"
            class="menuItemText"
            [class.menuItemTextSelected]="isComponentSelected('/search')"
          ></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>

  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
